<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link href="/static/stylesheets/user.css" ref="stylesheets">
</head>

<body>
    
    <%- //include('header'); -%>
    
    <main>
        <%- body %>
    </main>
    <%- //include('footer'); -%>
    <script src="/static/javascripts/user.js"></script>
</body>

</html>
